.Cabecalho-container {

    background-color: var(--cor-tres);
    color: var(--cor-um);
    margin: auto;
}

h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1%;
}